<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
  </head>
 <body onload="getDateTime()">
    
     <div id="timeDate"></div>    
     <div id="time"></div>
  </body>

    <script src="javascripts/time.js"> </script>
</html>
